:root {
    --primary-color: #195e19;
    --accent1-color: #21404c;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--primary-color);
    color: #ffffff;
}
* { 
   margin: 0;
   padding: 0;
box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: #21404c;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family:var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
    top: 20%;
    left: 10%;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float:  right;
    width: 125px;
    border: #e9c46a;
    margin: 125px;
    box-shadow: 5px 5px 10px #264653;
}
.socialmedia{
    display: flex;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.socialmedia img{
    width: 35px;
    height: auto;
    transition:transform 0.3s ease, filter 0.3s ease;
}
.socialmedia img:hover{
    transform: scale(1.2);
    filter: brightness(1.2);
    cursor: pointer;
}
footer p {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}